@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
}

body {
    background-image: url(https://i.pinimg.com/originals/f3/47/df/f347df43315982dedff0123ef95c2d5f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    animation-name: animacion-de-body;
    animation-duration: 2s;

}

@keyframes animacion-de-body {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




@media screen and (max-width:576px) {
    header {
        margin: 5px;
    }

    header img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    header h1 {
        color: white;
        display: contents;
    }

    #carouselExampleCaptions{
        width:auto;
        height:auto;
        margin: auto;
    }

    nav {
        text-align: center;
        margin: 5px;
    }

    nav ul {
        margin: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav ol {
        list-style-type: none;
        color: white;
        font-size: 14px;
    }

    section {
        margin: 5px;
    }


    .card {
        border-style: solid;
        border-color: rgba(0, 255, 8, 0.996);
        border-width: 5px;
        margin: 10px;
        width: auto;
        height: auto;
        background: rgba(255, 0, 0, 0.116);
    }

    .logo-de-selecciones {
        width: 60px;
        height: 60px;
        left: 50%;
    }

    .card-body h5 {
        text-align: center;
        color: white;
    }

    .card-body img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .card-footer {
        color: white;

    }
}

@media screen and (max-width:768px) {
    header {
        margin: 5px;
    }

    header img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    header h1 {
        color: white;
        text-align: center;
    }

    nav {
        text-align: center;
        margin: 5px;
    }

    nav ul {
        margin: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav ol {
        list-style-type: none;
        color: white;
        font-size: 15px;
    }

    section {
        margin: 5px;
    }

    .card {
        border-style: solid;
        border-color: rgba(0, 140, 255, 0.425);
        border-width: 5px;
        margin: 10px;
        width: auto;
        height: auto;
        background: rgba(255, 0, 0, 0.116);
    }

    .logo-de-selecciones {
        width: 60px;
        height: 60px;
        left: 50%;
    }

    .card-body h5 {
        text-align: center;
        color: white;
    }

    .card-body img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .accordion {
        margin: 5px;
    }

    .accordion-button {
        background-color: rgb(100, 30, 64);
        color: white;
    }

    .accordion-item {
        background-color: rgb(100, 30, 64);
        color: white;
    }

    .botones {
        background-color: rgb(99, 29, 63);
        border-radius: 5px;
        border-color: rgba(158, 12, 58, 0.685);
        opacity: 900%;
        color: white;
    }

    nav {
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    footer h6 {
        color: white;
        font-size: 12px;
        margin: 10px;
    }
}

@media screen and (max-width:992px) {
    header {
        margin: 5px;
    }

    header img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    header h1 {
        color: white;
        display: contents;
    }

    nav {
        text-align: center;
        margin: 5px;
    }

    nav ul {
        margin: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav ol {
        list-style-type: none;
        color: white;
        font-size: 14px;
    }

    section {
        margin: 5px;
    }


    .card {
        border-style: solid;
        border-color: rgba(0, 140, 255, 0.425);
        border-width: 5px;
        margin: 10px;
        width: auto;
        height: auto;
        background: rgba(255, 0, 0, 0.116);
    }

    .logo-de-selecciones {
        width: 60px;
        height: 60px;
        left: 50%;
    }

    .card-body h5 {
        text-align: center;
        color: white;
    }

    .card-body img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .accordion {
        margin: 5px;
    }

    .accordion-button {
        background-color: rgb(100, 30, 64);
        color: white;
    }

    .accordion-item {
        background-color: rgb(100, 30, 64);
        color: white;
    }

    .botones {
        background-color: rgb(99, 29, 63);
        border-radius: 5px;
        border-color: rgba(158, 12, 58, 0.685);
        opacity: 900%;
        color: white;
    }

    nav {
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    footer h6 {
        color: white;
        font-size: 12px;
        margin: 10px;
    }
}



@media screen and (max-width:1200px) {
    header {
        margin: 5px;
    }

    header img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    header h1 {
        color: white;
        display: contents;
    }

    nav {
        text-align: center;
        margin: 5px;
    }

    nav ul {
        margin: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav ol {
        list-style-type: none;
        color: white;
        font-size: 14px;
    }

    section {
        margin: 5px;
    }


    .card {
        border-style: solid;
        border-color: rgba(0, 140, 255, 0.425);
        border-width: 5px;
        margin: 10px;
        width: auto;
        height: auto;
        background: rgba(255, 0, 0, 0.116);
    }

    .logo-de-selecciones {
        width: 60px;
        height: 60px;
        left: 50%;
    }

    .card-body h5 {
        text-align: center;
        color: white;
    }

    .card-body img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .accordion {
        margin: 5px;
    }

    .accordion-button {
        background-color: rgb(100, 30, 64);
        color: white;
    }

    .accordion-item {
        background-color: rgb(100, 30, 64);
        color: white;
    }

    .botones {
        background-color: rgb(99, 29, 63);
        border-radius: 5px;
        border-color: rgba(158, 12, 58, 0.685);
        opacity: 900%;
        color: white;
    }

    nav {
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    footer h6 {
        color: white;
        font-size: 12px;
        margin: 10px;
    }
}


@media screen and (max-width:1400px) {

    header {
        margin: 5px;
    }

    header img {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    header h1 {
        color: white;
        display: flex;
        align-items:center;
        justify-content: center;
    }

    #carouselExampleCaptions{
        width:auto;
        height:auto;
        margin: auto;
    }

    nav {
        text-align: center;
        margin: 5px;
    }

    nav ul {
        margin: 10px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

    nav ol {
        list-style-type: none;
        color: white;
        font-size: 14px;
    }

    section {
        margin: 5px;
    }


    .card {
        border-style: solid;
        border-color: rgba(100, 30, 64, 0.688);
        border-width: 5px;
        margin: 10px;
        width: auto;
        height: auto;
        background: rgba(255, 0, 0, 0);
        text-align: center;
    }

    .logo-de-selecciones {
        width: 60px;
        height: 60px;
        left: 50%;
    }

    .card-body h5 {
        text-align: center;
        color: white;
    }

    .card-body img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .accordion {
        margin: 5px;
    }

    .accordion-button {
        background-color: rgb(100, 30, 64);
        color: white;
        
    }

    .accordion-item {
        background-color: rgb(100, 30, 64);
        color: white;
        text-align: initial;
    }

    .botones {
        background-color: rgb(99, 29, 63);
        border-radius: 5px;
        border-color: rgba(158, 12, 58, 0.685);
        opacity: 900%;
        color: white;
    }

    nav {
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    footer h6 {
        color: white;
        font-size: 12px;
        margin: 10px;
    }
}