@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Saira Condensed', sans-serif;

}

body {
    background-image: url(https://i.pinimg.com/originals/f3/47/df/f347df43315982dedff0123ef95c2d5f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    animation-name: animacion-de-body;
    animation-duration: 2s;

}

@keyframes animacion-de-body {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:576px) {
    header img {
        width: 90px;
        height: 90px;
        margin: 5px;
    }

    header h1 {
        color: white;
        display: inline;
        text-align: center;
        margin: 25px;
    }

    menu {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;

    }

    menu a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    menu ul {
        margin: 10px;
        padding: 10px;
        color: white;
    }

    .card {
        background: none;
        border-radius: 10px;
        border-color: rgb(161, 44, 44);
        border-width: 3px;
        margin: 30px;
    }

    .card img {
        border-radius: 10px;
    }

    .card h2 {
        text-align: center;
        color: white;
    }

    .card p {
        color: white;
        text-decoration: blueviolet;
        text-shadow: green;
    }

    aside iframe {
        display: inline-block;
        text-align: center;
        border-radius: 10px;
    }

    .botones {
        background-color: rgb(99, 29, 63);
        border-radius: 5px;
        border-color: rgba(158, 12, 58, 0.685);
        opacity: 900%;
    }

    nav {
        color: white;
        text-align: center;
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    footer {
        color: white;
        font-size: 10px;
        margin: 20px;
    }





}

@media screen and (max-width:768px) {

    header img {
        height: 100px;
        width: 100px;
        margin: 10px;
    }

    header h1 {
        color: white;
        display:inline-block;
        text-align:center;
        margin-left: auto;
        margin-right: auto;
    }

    menu {
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        animation-name: animacion-de-grupo;
        animation-duration: 2s;
        background-image: linear-gradient(to bottom, rgb(59, 0, 23), rgb(94, 24, 58));
    }

    @keyframes animacion-de-grupo {
        0% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    menu ul {
        padding: 4px;
    }

    menu a {
        color: white;
        text-decoration: none;
        width: 100px;
        height: 100px;
        transition: all 1s;
    }

    menu ol {
        color: white;
    }

    .card {
        background: none;
        border-radius: 20px;
        border-color: white;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .card img {
        border-radius: 20px;
    }

    .card h2 {
        color: white;
        text-align: center;
    }

    .card p {
        color: white;
    }

    aside {
        display: flex;
        justify-content: center;
    }

    aside iframe {
        display: flexbox;
        justify-content: center;
        border-radius: 10px;
        margin: 20px;
    }

    nav {
        display: inline-grid;
        text-align: center;
        color: white;
        margin: 20px;
    }

    .botones {
        background-color: rgb(99, 29, 63);
        border-radius: 5px;
        border-color: rgba(158, 12, 58, 0.685);
        opacity: 900%;
        color: white;
    }

    footer {
        color: white;
        margin: 10px;
    }
}

header img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

header h1 {
    color: white;
    display:inline-block;
}

menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
    animation-name: animacion-de-grupo;
    animation-duration: 2s;
    background-image: linear-gradient(to bottom, rgb(59, 0, 23), rgb(94, 24, 58));
}

@keyframes animacion-de-grupo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

menu a {
    text-decoration: none;
    color: white;
    width: 100px;
    height: 100px;
    transition: all 1s;
}

menu a:focus {
    width: 200px;
    font-size: 25px;
}

menu ol {
    color: white;
}

.card {
    background: none;
    margin: 20px;
    border-radius: 25px;
    border-color: rgb(161, 44, 44);
    border-width: 3px;
}

.card img {
    border-radius: 25px;
}

.card h2 {
    color: white;
    text-align: center;
}

.card p {
    color: white;
}

aside {
    display: flex;
    justify-content: center;
}

aside iframe {
    display: flexbox;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
}

.botones {
    background-color: rgb(99, 29, 63);
    border-radius: 5px;
    border-color: rgba(158, 12, 58, 0.685);
    opacity: 900%;
    color: white;
}

nav {
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    color: white;
    font-size: 13px;
    margin: 20px;
}